/* MAIN HEADER LAYOUT/STYLING */

/* HEADER LAYOUT */

.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    width: 470px;
}

/* LOGO STYLING  */

.amy-logo {
    width: 100%;
}

/* NAV-BAR STYLING */

/* NAV-BAR LAYOUT */

.nav-bar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* NAV ELEMENTS */

.nav-line {
    width: 2px;
    height: 20px;
    border-radius: 10px;
    background-color: #dedede;
}